:root {
	--light-color: #fefefe;
	--black-color: #121212;
	--god-gray-color: #1d1d1d;
	--heavy-color: #1d1d1b;
	--coral-color: #ff4646;
	--burnt-color: #f06060;
	--heliotrope-color: #845bff;
	--alto-color: #dadada;
	--titan-color: #f4f1ff;
}
